<mat-card class="example-card">
    <mat-card-title>{{patientCareTitle}}</mat-card-title>
    <!-- Form for vaccines filter -->
    <div>
        <form [formGroup]="filterForm">
            <div style="float: left;">
                <h4>Filtro de vacunas</h4>
                <mat-form-field appearance="fill">
                    <mat-label>Vacunas</mat-label>
                    <mat-select formControlName="vaccine" name="vaccine">
                        <mat-option >Ninguno</mat-option>
                        <mat-option *ngFor="let vaccine of vaccines" [value]="vaccine">
                            {{vaccine.name}}
                        </mat-option>                    
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="margin-left: 250px;">
                <h4>Filtro de dosis</h4>
                <mat-form-field appearance="fill">
                    <mat-label>Dosis</mat-label>
                    <mat-select formControlName="dose" name="patientCare">
                        <mat-option >Ninguno</mat-option>
                        <mat-option *ngFor="let dose of doses" [value]="dose">
                            {{dose}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div *ngIf="dataErrorMessage">
        <h4 class="text-danger">{{dataErrorMessage}}</h4>
    </div>
    <!-- Container of patient care table -->
    <div class="mat-elevation-z8" style="width: 1000px;margin: auto;" >
        <button mat-raised-button color="primary" style="float: right;" (click)="openPatientCareDialog()">Agregar paciente</button>
        <table mat-table [dataSource]="dataSource" style="width: 1000px; height: 200px; margin: auto;">            
            <!--For visualize all the columns it must be implement 
                matColumnDef for each columns, contrary case it not visualize-->
            <!-- Name Column -->
            <ng-container matColumnDef="Paciente">
                <th mat-header-cell *matHeaderCellDef> Nombre del paciente </th>
                <td mat-cell *matCellDef="let element"> {{element.patient.name}} </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="Vacuna">
                <th mat-header-cell *matHeaderCellDef> Nombre de la vacuna </th>
                <td mat-cell *matCellDef="let element"> {{element.vaccine.name}} </td>
            </ng-container>

            <!-- CI Column -->
            <ng-container matColumnDef="N° dosis">
                <th mat-header-cell *matHeaderCellDef> No Dosis </th>
                <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="Fecha de vacunación">
                <th mat-header-cell *matHeaderCellDef> Fecha de vacunación </th>
                <td mat-cell *matCellDef="let element"> {{element.doseDate}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="btn btn-danger-mx-3" (click)="removePatientCare(element.id)">
                        <mat-icon color="primary">delete</mat-icon>
                    </button>
                </td>
            </ng-container>            
            <div *ngIf="dataSource != undefined && !dataErrorMessage">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No existe registro de {{patientCareTitle | lowercase}}</td>
                </tr>
            </div>
            <!-- Display Columns -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
        <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" 
                        aria-label="Select page of users"></mat-paginator>
    </div>
    
</mat-card>