<!-- (ngSubmit)="submit()" -->
<form [formGroup]="fullVaccineForm" (ngSubmit)="submit()">
    <!-- <div>
        <mat-form-field appearance="legacy">
            <input type="text" matInput placeholder="Nombre" formControlName="vaccine.name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <input type="text" matInput placeholder="Cantidad" formControlName="quantity">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Días de descanso" formControlName="restDays">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Dosis completa" formControlName="numberDoses">
        </mat-form-field>
    </div> -->

    <div formArrayName="vaccines" >
        <label *ngFor="let vaccine of vaccinesFormArray.controls; let i = index">
            <div >
                <input type="checkbox" [formControlName]="i">
                {{vaccineList[i].name}}
                <br>
            </div>
        </label>
        <br>
    </div>
    <!-- <div *ngFor="let vacciness of fullVaccineForm.controls['vaccines'].get('vaccines'); let i = index">
        <label formArrayName="vaccines" >
            <input type="checkbox" [formControlName]="i">
            {{vaccineList[i].name}}
            <br>
        </label>
        <br>
    </div> -->
    <!-- <div [formGroup]="fullVaccineForm">
        <ng-container formArrayName="vaccines">
            <ng-container *ngFor="let lala of vaccinesFormArray.controls; let i = index">
                <div >
                    <input matInput placeholder="id" type="text" formControlName="id">
                </div>
            </ng-container>
        </ng-container>
    </div> -->
    <button mat-raised-button color="primary">{{actionBtn}}</button>
</form>