<p style="margin: 0;">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let rout of routes" [routerLink]="rout.router">
        {{rout.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>