<mat-card class="mat-card-login">
    <mat-card-title>Vacunacion COVID</mat-card-title>
    <mat-form-field class="mat-form-field-input">
        <mat-label mat-card-subtitle style="margin: 2px;">Ingrese usuario</mat-label>
        <div>
            <input matInput type="text">
        </div>
    </mat-form-field>
    <mat-form-field class="mat-form-field-input">
        <mat-label mat-card-subtitle style="margin: 2px;">Ingrese contraseña</mat-label>
        <div>
            <input matInput type="text">
        </div>
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="primary">Ingresar</button>
        <button mat-raised-button color="primary">Registrarse</button>
    </mat-card-actions>
</mat-card>